.spinner-size {
  height: 3rem;
  width: 3rem;
}

.user {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(121, 214, 183);
  text-align: center;
  line-height: 3rem;
  font-size: 2rem;
}

.offCanvas-header,
.offCanvas-body {
  background-color: var(--teal-100);
}
