.nav-container {
  // width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 2rem;
  background: var(--blue-bg);
  color: var(--light-font);

  ul {
    display: flex;
    list-style: none;
    gap: 2rem;

    li {
      cursor: pointer;
      transition: all 0.2s ease;

      a {
        text-decoration: none;
        color: var(--light-font);

        & :hover {
          color: var(--teal-200);
        }

        &:active,
        &.active {
          color: var(--teal-300);
        }
      }
    }
  }
}
