// <link href="https://fonts.cdnfonts.com/css/apple-chancery" rel="stylesheet">

.nav-container {
  // width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 2rem;
  background: var(--blue-bg);
  color: var(--light-font);

  .title {
    font-family: 'Apple Chancery', sans-serif;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 2rem;

    li {
      cursor: pointer;
      transition: all 0.2s ease;

      .myCart {
        margin-left: 0.5rem;
      }

      a {
        text-decoration: none;
        color: var(--light-font);

        & :hover {
          color: var(--teal-200);
        }

        &:active,
        &.active {
          color: var(--teal-300);
        }
      }
    }
  }
}
